html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f9f9f9;
}

header {
    position: sticky;
    font: Chiller;
    top: 0;
    background-color: var(--pumpkin);
}

footer {
    font: Eater;
    background-color: var(--monster-green);
}

.page {
    display: none;
}

.page:target {
    display: block;
}

:root {
    --pumpkin:#FF7518;
    --witch-purple:#4B0082;
    --monster-green:#228B22;
    --black:#000; 
    --ghost:#FFF; 
    --space-1:0.25rem; 
    --space-2:0.5rem; 
    --space-3:1rem; 
    --space-4:2rem; 
}

nav a {
    display: inline-block;
    padding: var(--space-3) var(--space-4);
}